<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.herba.plugin.junit"
            name="JUnit Extensions">
      </category>
   </extension>

   <!-- Extension for JUnit Results View contribution 
   	deprecated format - ->
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.herba.plugin.junit.resultviewaction"
            targetID="org.eclipse.jdt.junit.ResultView">
         <action
               id="org.herba.plugin.junit.approvetestresultaction"
               label="Approve Test Result"
               icon="res/icons/approve.png"
               class="org.herba.plugin.junit.approvaltest.actions.ApproveTestResultsAction"
               toolbarPath="normal"
               enablesFor="1"/>
      </viewContribution>
   </extension -->

   <!-- Define the command -->
   <extension point="org.eclipse.ui.commands">
      <command
            description="Overwrite expected result with actual"
            id="org.herba.plugin.junit.approveTestResult"
            name="Approve Test Result">
      </command>
      <command
            description="Overwrite all expected results with actual"
            id="org.herba.plugin.junit.approveAllTestResults"
            name="Approve All Test Results">
      </command>
      <command
            categoryId="org.eclipse.compare.ui.category.compare"
            description="Compare actual and expected result (received / approved)"
            id="org.herba.plugin.junit.compareTestResult"
            name="Compare Test Result">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Open test resource in editor"
            id="org.herba.plugin.junit.openTestResource"
            name="Open Test Resource">
      </command>
      <category
            id="ApprovalTestButton.category1"
            name="name">
      </category>
   </extension>

   <!-- Define the command handler -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.herba.plugin.junit.approveTestResult"
            class="org.herba.plugin.junit.approvaltest.commands.ApproveTestResultCommand">
         <enabledWhen>
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelection"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.herba.plugin.junit.approveAllTestResults"
            class="org.herba.plugin.junit.approvaltest.commands.ApproveAllTestResultsCommand">
         <enabledWhen>
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelectionAny"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.herba.plugin.junit.approvaltest.commands.CompareTestResultCommand"
            commandId="org.herba.plugin.junit.compareTestResult">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelection">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.herba.plugin.junit.approvaltest.commands.OpenTestResourceCommand"
            commandId="org.herba.plugin.junit.openTestResource">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelection">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

   <!-- Add toolbar button to JUnit Results View -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.jdt.junit.ResultView">
         <separator
               name="org.herba.plugin.junit.toolbarseparator"
               visible="true">
         </separator>
         <command
               commandId="org.herba.plugin.junit.compareTestResult"
               icon="res/icons/compare_text_16.png"
               id="org.herba.plugin.junit.toolbar.submenu"
               label="Compare test result"
               mnemonic="C"
               style="pulldown"
               tooltip="Open compare view to review/approve results">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.herba.plugin.junit.toolbar.submenu">
         <command
               commandId="org.herba.plugin.junit.compareTestResult"
               icon="res/icons/compare_text_16.png"
               id="org.herba.plugin.junit.compareToolbarButton"
               label="Compare test result"
               mnemonic="C"
               style="push"
               tooltip="Open compare view to review/approve results">
         </command>
         <command
               commandId="org.herba.plugin.junit.openTestResource"
               icon="res/icons/open_16.png"
               id="org.herba.plugin.junit.openToolbarButton"
               label="Open test resource"
               mnemonic="O"
               style="push"
               tooltip="Open file in editor">
         </command>
         <command
               commandId="org.herba.plugin.junit.approveTestResult"
               icon="res/icons/approved_text_16.png"
               id="org.herba.plugin.junit.approveToolbarButton"
               label="Approve test results"
               mnemonic="R"
               tooltip="Overwrite expected result with actual">
         </command>
         <command
               commandId="org.herba.plugin.junit.approveAllTestResults"
               icon="res/icons/approved_all_text_16.png"
               id="org.herba.plugin.junit.approveAllToolbarButton"
               label="Approve all test results"
               mnemonic="A"
               tooltip="Overwrite all expected results with actual">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.junit.model.ITestElement"
            class="org.herba.plugin.junit.approvaltest.factories.ComparisonFailureSelectionAdapterFactory">
         <adapter
               type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelection">
         </adapter>
         <adapter
               type="org.herba.plugin.junit.approvaltest.handlers.ComparisonFailureSelectionAny">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.herba.plugin.junit.compareTestResult"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
      <key
            commandId="org.herba.plugin.junit.openTestResource"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
   </extension>

</plugin>
